.form-sale{
    display: flex;
    flex-direction: column;
    border: 1px solid #333;
    padding: 40px;
    border-radius: 5%;
}

.form-sale input{
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid #333;
    font-size: 1.2rem;
    background: #fffaf0;
}