@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

header {
    margin-bottom: 100px;
    width: 100%;
    background: rgb(158, 156, 21);

    padding: 15px;
}

.Menu {
    list-style: none;
    margin: 0;
    display: flex;
    justify-content: center;
    padding: 0px;
}

.itemMenu {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 28, 13px;
    margin-left: 50px;
}

.itemMenu a {
    text-decoration: none;
    color: #303030;
}

.itemMenu a:hover {
    color: rgb(209, 208, 172);
}

main {
    margin-left: 88px;
    display: flex;
    justify-content: space-evenly;
}
