.title-sale{
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.title-table{
    text-align: center;
}

table{
    font-family: 'Roboto', sans-serif;
    border-collapse: separate;
    border-spacing: 5px;
}

.tableHead th {
    font-size: 1.3rem;  
}

.tableBody td{
    font-size: 1.2rem;
}